@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&display=swap');

* {/* configuracion inicial para que se aplique en general */
padding: 0px;
margin: 0px;
box-sizing: border-box;
font-family: 'Be Vietnam Pro', 'sans-serif';
text-decoration: none;
font-size: 1em;
}

.logo {
max-width: 5em;
border-radius: 2em;
}

header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 1em;
background-color: rgb(113, 126, 158);
}

.nav_list {
display: flex;
list-style-type: none;
gap: 1em;
}

.nav_list li a {
text-decoration: none;
color: rgba(253, 214, 197, 0.884);
font-size: 14px;

}

.abrir_menu,
.cerrar_menu {
display: none;
color: rgba(253, 214, 197, 0.884);
}

.carrousel {
width: 90%;
max-width: 120em;
padding: 2em;
overflow: hidden;

background-color: rgba(238, 239, 241, 0.781);
}

.carrousel .grande {
    width: 200%;
    
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2em;

    transition: all .5s ease;
    transform: translateX(-0%);
}

.carrousel .img {
    width: calc( 100% / 2 - 2em);
    min-height: 10vh;
    
}

.carrousel .puntos {
width: 100%;
margin: 1em 0 0;

padding: .4em;
display: flex;
flex-flow: row nowrap;
justify-content: center;
align-items: center;
}

.carrousel .punto {
width: 1em;
height: 1em;
background-color:  rgb(113, 126, 158);
margin: 1em 1em 0;  
list-style-type: none;
border-radius: 2em;
}

.carrousel .punto.activo {
    background-color:rgba(253, 214, 197, 0.884);
}

main {
background-color: rgb(238, 239, 241);
}

@media screen and (max-width: 550px) {
.abrir_menu,
.cerrar_menu {
display: block;
border: 0;
font-size: 1.2em;
background-color: transparent;
cursor: pointer;

}



.nav {


transform: translateX(100%); /* Inicialmente fuera de la vista a la derecha */
display: flex;
flex-direction: column;
align-items: end;
gap: 2em;

top: 0;
right: 0;
background-color: rgb(113, 126, 158);
padding: 1em;


transition: transform 0.5s ease; /* Transición suave */
position: fixed;
z-index: 1000;

} 

.nav.visible {
transform: translateX(0); /* Desplazamiento a la vista */

}

.nav_list {
flex-direction: column;
align-items: end;
position: relative;
bottom: 1em;

}

h1 {
color: rgb(253, 214, 197, 0.884);
font-size: 1.5em;
}


}
