@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&display=swap');

* {/* configuracion inicial para que se aplique en general */
padding: 0px;
margin: 0px;
box-sizing: border-box;
font-family: 'Be Vietnam Pro', 'sans-serif';
text-decoration: none;
font-size: 1em;
}

.logo {
max-width: 5em;
border-radius: 2em;
}

header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 1em;
background-color: rgb(113, 126, 158);
}

.nav_list {
display: flex;
list-style-type: none;
gap: 1em;
}

.nav_list li a {
text-decoration: none;
color: rgba(253, 214, 197, 0.884);
font-size: 14px;

}

.abrir_menu,
.cerrar_menu {
display: none;
color: rgba(253, 214, 197, 0.884);
}

.carrousel {
width: 90%;
max-width: 120em;
padding: 2em;
overflow: hidden;

background-color: rgba(238, 239, 241, 0.781);
}

.carrousel .grande {
    width: 2000%;
    
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2em;

    transition: all .5s ease;
    transform: translateX(-0%);
    
}

.carrousel .grande img {
    width: 200px;
    min-height: 150px;
}



.carrousel .puntos {
width: 100%;



display: flex;
flex-flow: row nowrap;
justify-content: center;
align-items: center;
}

.carrousel .punto {
width: .7em;
height: .7em;
background-color:  rgb(113, 126, 158);
margin: 1em .2em 0;  
list-style-type: none;
border-radius: 2em;
}

.carrousel .punto3 {
    width: .7em;
    height: .7em;
    background-color: rgb(122, 107, 102);
    margin: 1em .2em 0;
    list-style-type: none;
    border-radius: 2em;
}

.carrousel .punto4 {
    width: .7em;
    height: .7em;
    background-color: rgb(239, 164, 81);
    margin:1em .2em 0;
    list-style-type: none;
    border-radius: 2em;
}

.carrousel .punto5 {
    width: .7em;
    height: .7em;
    background-color: rgb(54, 83, 127);
    margin: 1em .2em 0;
    list-style-type: none;
    border-radius: 2em;
}

.carrousel .punto6 {
    width: .7em;
    height: .7em;
    background-color: rgb(169, 145, 57);
    margin:1em .2em 0;
    list-style-type: none;
    border-radius: 2em;
}


.carrousel .punto8 {
    width: .7em;
    height: .7em;
    background-color: rgb(193, 149, 122);
    margin: 1em .2em 0;
    list-style-type: none;
    border-radius: 2em;
}

.carrousel .punto9 {
    width: 1em;
    height: 1em;
    background-color: rgb(42, 116, 165);
    margin:1em .2em 0;
    list-style-type: none;
    border-radius: 2em;
}

.carrousel .punto10 {
    width: 1em;
    height: 1em;
    background-color: rgb(42, 165, 159);
    margin: 1em .2em 0;
    list-style-type: none;
    border-radius: 2em;
}

.carrousel .punto11 {
    width: 1em;
    height: 1em;
    background-color: rgb(42, 165, 93);
    margin:1em .2em 0;
    list-style-type: none;
    border-radius: 2em;
}

.carrousel .punto12 {
    width: 1em;
    height: 1em;
    background-color: rgb(165, 157, 42);
    margin: 1em .2em 0;
    list-style-type: none;
    border-radius: 2em;
}

.carrousel .punto13 {
    width: 1em;
    height: 1em;
    background-color: rgb(165, 67, 42);
    margin: 1em .2em 0;
    list-style-type: none;
    border-radius: 2em;
}

.carrousel .punto14 {
    width: 1em;
    height: 1em;
    background-color: rgb(81, 165, 42);
    margin: 1em .2em 0;
    list-style-type: none;
    border-radius: 2em;
}

.carrousel .punto15 {
    width: 1em;
    height: 1em;
    background-color: rgb(165, 42, 149);
    margin:1em .2em 0;
    list-style-type: none;
    border-radius: 2em;
}

.carrousel .punto16 {
    width: 1em;
    height: 1em;
    background-color: rgb(165, 42, 42);
    margin: 1em .2em 0;
    list-style-type: none;
    border-radius: 2em;
}

.carrousel .punto17 {
    width: 1em;
    height: 1em;
    background-color: rgb(42, 165, 93);
    margin:1em .2em 0;
    list-style-type: none;
    border-radius: 2em;
}

.carrousel .punto18 {
    width: 1em;
    height: 1em;
    background-color: rgb(165, 91, 42);
    margin:1em .2em 0;
    list-style-type: none;
    border-radius: 2em;
}

.carrousel .punto19 {
    width: 1em;
    height: 1em;
    background-color: rgb(85, 42, 165);
    margin:1em .2em 0;
    list-style-type: none;
    border-radius: 2em;
}

.carrousel .punto20 {
    width: 1em;
    height: 1em;
    background-color: rgb(42, 165, 159);
    margin:1em .2em 0;
    list-style-type: none;
    border-radius: 2em;
}

.carrousel .punto.activo {
    background-color:rgba(253, 214, 197, 0.884);
}

main {
background-color: rgb(238, 239, 241);
}

@media screen and (max-width: 550px) {
.abrir_menu,
.cerrar_menu {
display: block;
border: 0;
font-size: 1.2em;
background-color: transparent;
cursor: pointer;

}



.nav {


transform: translateX(100%); /* Inicialmente fuera de la vista a la derecha */
display: flex;
flex-direction: column;
align-items: end;
gap: 2em;

top: 0;
right: 0;
background-color: rgb(113, 126, 158);
padding: 1em;


transition: transform 0.5s ease; /* Transición suave */
position: fixed;
z-index: 1000;

} 

.nav.visible {
transform: translateX(0); /* Desplazamiento a la vista */

}

.nav_list {
flex-direction: column;
align-items: end;
position: relative;
bottom: 1em;

}

h1 {
color: rgb(253, 214, 197, 0.884);
font-size: 1.5em;
}


}
